process {
    withName:fastANI {
        container = '/scratch/ulg/GENERA/ANI.sif'
    }
    withName:orthoani {
        container = '/scratch/ulg/GENERA/ANI.sif'
    }
    withName:heatmap {
        container = '/scratch/ulg/GENERA/ANI.sif'
    }
    withName:NJtree {
        container = '/scratch/ulg/GENERA/ANI.sif'
    }
    withName:publicationResults {
        container = '/scratch/ulg/GENERA/ANI.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B <PWD> -B <readlink>'
