process {
    withName:ANI {
        container = '/scratch/ulg/GENERA/GTDB.sif'
    }
    withName:heatmap {
        container = '/scratch/ulg/GENERA/ANI.sif'
    }
    withName:publicationResults {
        container = '/scratch/ulg/GENERA/ANI.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B <FIELD1> -B <FIELD2>'
