process {
    withName:Trimming {
        container = '/scratch/ulg/GENERA/assembly.sif'
    }
    withName:shortreadsassembly {
        container = '/scratch/ulg/GENERA/assembly.sif'
    }
    withName:longreadsassembly {
        container = '/scratch/ulg/GENERA/assembly.sif'
    }
    withName:polishing {
        container = '/scratch/ulg/GENERA/assembly.sif'
    }
    withName:shortreadsmapping {
        container = '/scratch/ulg/GENERA/binner.sif'
    }
    withName:longreadsmapping {
        container = '/scratch/ulg/GENERA/assembly.sif'
    }
    withName:shortreadsbinning {
        container = '/scratch/ulg/GENERA/binner.sif'
    }
    withName:longreadsbinning {
        container = '/scratch/ulg/GENERA/LRbinner.sif'
    }
    withName:ragtag {
        container = '/scratch/ulg/GENERA/ragtag-2.1.0.sif'
    }
    withName:publicationResults {
        container = '/scratch/ulg/GENERA/LRbinner.sif'
    }
}

singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B <PWD> -B <readlink>'
