process {
    withName:augustusCongig {
        container = '/scratch/ulg/GENERA/braker-2.sif'
    }
    withName:getprot {
        container = '/scratch/ulg/GENERA/braker-2.sif'
    }
    withName:abbr {
        container = '/scratch/ulg/GENERA/Genome-downloader.sif'
    }
    withName:hisat2 {
        container = '/scratch/ulg/GENERA/braker-2.sif'
    }
    withName:braker {
        container = '/scratch/ulg/GENERA/braker-2.sif'
    }
    withName:results {
        container = '/scratch/ulg/GENERA/braker-2.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B <PATH> -B <SYMLINK> -B /scratch/ulg/GENERA/Databases/BRAKER/'
