process {
    withName:lineage {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:makecorr {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:plasmiddel {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:prodigal {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:orthofinder {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:makechim {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:hgtsim {
        container = '/scratch/ulg/GENERA/HGTsim.sif'
    }
    withName:hgtintroduce {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:publicationResults {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B <pwd> -B <readlink> -B /data/GENERA'
process.scratch = '/data/GENERA/'
