process {
    withName:taxonomy {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:DBSetUp {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:EUKCCDBSetUp {
        container = '/scratch/ulg/GENERA/eukcc_latest.sif'
    }
    withName:format {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:checkm {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:gunc {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:busco {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:physeter {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:kraken  {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:quast {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:eukcc {
        container = '/scratch/ulg/GENERA/eukcc_latest.sif'
    }
    withName:publicationResults {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B <PWD> -B <SYMLINK> -B /scratch/ulg/GENERA/Databases/CONTAMS -B /data/GENERA'
process.scratch = '/data/GENERA/'
