process {
    withName:Taxonomy {
        container = '/scratch/ulg/GENERA/Genome-downloader.sif'
    }
    withName:RefSeq {
        container = '/scratch/ulg/GENERA/Genome-downloader.sif'
    }
    withName:GenBank {
        container = '/scratch/ulg/GENERA/Genome-downloader.sif'
    }
    withName:GetGenomesRefseq {
        container = '/scratch/ulg/GENERA/Genome-downloader.sif'
    }
    withName:GetGenomesGenbank {
        container = '/scratch/ulg/GENERA/Genome-downloader.sif'
    }
    withName:Dereplication {
        container = '/scratch/ulg/GENERA/ORPER.sif'
    }
    withName:CombineGenomes {
        container = '/scratch/ulg/GENERA/Genome-downloader.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B <PATH> -B <SYMLINK>'
