process {
    withName:keggsetup {
        container = '/scratch/ulg/GENERA/anvio7.simg'
    }
    withName:functional {
        container = '/scratch/ulg/GENERA/mantis.sif'
    }
    withName:modelling {
        container = '/scratch/ulg/GENERA/anvio7.simg'
    }
    withName:modellingplots {
        container = '/scratch/ulg/GENERA/metabolic.sif'
    }
    withName:publicationResults {
        container = '/scratch/ulg/GENERA/metabolic.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B <FIELD 1> -B <FIELD 2> -B /scratch/ulg/GENERA/Databases/ANVIO' 
