process {
    withName:Taxonomy {
        container = '/scratch/ulg/GENERA/OGsEnrichment.sif'
    }
    withName:format {
        container = '/scratch/ulg/GENERA/orthology.sif'
    }
    withName:prodigal {
        container = '/scratch/ulg/GENERA/contams.sif'
    }
    withName:orthofinder {
        container = '/scratch/ulg/GENERA/orthofinder-2.5.4.sif'
    }
    withName:anvio {
        container = '/scratch/ulg/GENERA/anvio7.simg'
    }
    withName:formatOG {
        container = '/scratch/ulg/GENERA/orthology.sif'
    }
    withName:core {
        container = '/scratch/ulg/GENERA/orthology.sif'
    }
    withName:specific {
        container = '/scratch/ulg/GENERA/orthology.sif'
    }
    withName:enrichment {
        container = '/scratch/ulg/GENERA/OGsEnrichment.sif'
    }
    withName:enrichmentcheck {
        container = '/scratch/ulg/GENERA/orthology.sif'
    }
    withName:publicationResults {
        container = '/scratch/ulg/GENERA/orthology.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B <FIELD1> -B <FIELD2> -B /scratch/ulg/GENERA/Databases/ANVIO'
