process {
    withName:format {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:alignment {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:unambiguousPosition {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:concatenation {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:mlinference {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:jaccknifeMatrix {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:jaccknifeMLinference {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:publicationResults {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B /scratch/ulg/bioec/lcornet/Phylo -B /scratch/users/l/c/lcornet/Phylo'
