process {
    withName:format {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:degap {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:alignment {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:unambiguousPosition {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
    withName:mlinference {
        container = '/scratch/ulg/GENERA/older-version/Phylogeny-V1.0.2/Phylogeny.sif'
    }
    withName:publicationResults {
        container = '/scratch/ulg/GENERA/Phylogeny.sif'
    }
}
singularity.enabled = true
singularity.cacheDir = "$PWD"
singularity.autoMounts = false
singularity.runOptions = '-B <FIELD> -B <FIELD>'
